// Text color as gradient
@mixin text-color-gradient() {
  background-image: $gradient-call-to-action;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

// Different breack points
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content
    };
  }
  @if $breakpoint == table-port {
    @media only screen and (max-width: 56.25em) {
      @content
    };
  }
  @if $breakpoint == table-land {
    @media only creen and (max-width: 75em) {
      @content
    };
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    };
  }

}
