// The overall layout of the site
// To understand consult description.md

// ml-start: margin left start
// ml-start: margin left end
// mr-start: margin right start
// mr-start: margin right end
// signup-c-start / signup-c-end: space cover by sign up area horizontally
// signup-r-start / signup-c-end: space cover by sign up area vertically

.container {
  display: grid;

  // Control intro background image height
  --intro-bg-height: 78vw;
  @include responsive(tablet-land) { --intro-bg-height: 104rem; };
  @include responsive(desktop) { --intro-bg-height: 138rem; };

  // Control the margin of the page on big screen (+1500px)
  --p-margin: 5vw;
  --p-padding: 1fr;
  @include responsive(big-desktop) {
    --p-margin: 1fr;
    --p-padding: 41.5rem;
  };

  grid-template-columns: [ml-start] var(--p-margin) [ml-end] var(--p-padding) [signup-c-start] minmax(min-content, 110rem) [signup-c-end] var(--p-padding) [mr-start] var(--p-margin) [mr-end];

  grid-template-rows: [header-start] auto [header-end intro-start intro-bg-start] var(--intro-bg-height) [intro-bg-end] auto [intro-end] repeat(3, auto) [signup-r-start] 22rem [footer-bg-start] auto [signup-r-end footer-start] auto [footer-end footer-bg-end];

  // Header background
  &::before {
    content: "";
    grid-column: ml-start / mr-end;
    grid-row: header-start / header-end;
    background-color: $color-primary-dark-blue-1;
    z-index: -1; // Push element to the back.
  }

  // Footer background and half side background of sign up
  &::after {
    content: "";
    grid-column: ml-start / mr-end;
    grid-row: footer-bg-start / footer-bg-end;
    background-color: $color-primary-dark-blue-3;
    z-index: -1; // Push element to the back.
  }
}
