// feature section
.feature {
  grid-column: signup-c-start / signup-c-end;
  justify-self: center;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(38rem, 1fr));

  margin: 20rem 0;
  @include responsive(desktop) {
    margin-top: 0;
  }

  &__elt {
    text-align: center;
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-rows: 100px;

    & h2 {
      padding-bottom: 2rem;
    }
  }

  &__img {
    justify-self: center;
    align-self: center;
    &__content {
      width: 8rem;
      height: 8rem;
    }
  }
}
