// intro section
.intro {
  grid-column: signup-c-start / signup-c-end;
  grid-row: intro-start / intro-end;
  text-align: center;

  &__down {
    margin: 4rem 2rem 0 2rem;
    & > :not(:last-child) {
      padding-bottom: 4rem;
    }
  }

  &__background {
    grid-column: ml-start / mr-end;
    grid-row: intro-bg-start / intro-bg-end;
    background-image: var(--bg-img-mobile);
    @include responsive(tablet-land) { background-image: var(--bg-img-desktop); };
    background-color: var(--color-primary-1);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__img {
    width: 85%;
  }

  &__btn {
    display: grid;
    & a {
      display: grid;
      align-items: center;
      width: 32rem;
      justify-self: center;
    }
  }

  & p {
    max-width: 60rem;
    margin: 0 auto;
  }
}
