// productive section
.productive {
  grid-column: ml-end / mr-start;
  display: grid;
  grid-gap: 8rem;
  align-items: center;
  margin: 0 1rem;
  max-width: 143rem;

  justify-self: center;
  @include responsive(tablet-land) {
    grid-template-columns: repeat(2, 1fr);
  };
  &__img {
    width: 100%;
  }

  &__part {

    &:last-of-type  > * {
      margin-bottom: 2rem;
    }

    h2 {
      @include responsive(tablet-land) { max-width: 57rem; };
    }
  }

}
