// Testimonial author's name, emage and job title
.author {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 1rem;
  grid-row-gap: .5rem;
  font-style: normal;
  &__img {
    width: 4rem;
    border-radius: 100%;
    grid-row: 1 / 3;
    align-self: center;
  }
  &__name {
    font-weight: bold;
  }
}
