// email input styling
.inputs {
  border-radius: 100rem;
  border: 2px solid var(--color-input-border);
  height: 6rem;
  padding: 0 4rem;
  outline: none;

  &:focus:invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px #d45252;
  }

  &:valid {
    border-color: var(--color-accent-light);
    box-shadow: 0 0 5px var(--color-accent-light);
  }

}
