// email input styling
.email {
  border-radius: 100rem;
  border: 2px solid transparent;
  height: 6rem;
  padding: 0 4rem;
  outline: none;

  &:focus:invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px #d45252;
  }

  &:valid {
    border-color: $color-accent-cyan;
  }

}
