// Productivity link styling
.link-works {

  &:link, &:visited {
    color: $color-accent-cyan;
    font-family: $font-family-heading;
    font-size: 1.6rem;
    text-decoration: none;

    padding-bottom: 10rem;
    border-bottom: 1px solid $color-accent-cyan;
    padding-bottom: .8rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
  }

}
