// Productivity link styling
.link-works {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--color-accent-dark);
    background-image: var(--gradient);
    transition: all .5s;
  }

  &:link, &:visited {
    font-family: $font-family-heading;
    font-size: 1.6rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
  }

}
