// Productivity link styling
.link-works {

  &:link, &:visited {
    color: var(--color-accent-light);
    font-family: $font-family-heading;
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 1px solid var(--color-accent-light);
    padding-bottom: .8rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
  }

}
