// Footer (list) icon and text styling
.list {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-bottom: 16px;

  &__icone {
   width: 20px;
   height: 20px;
   margin-top: 5px;
   fill: var(--color-neutral);
  }

  &__label {
   line-height: 4rem;
   padding-right: 2rem;
   @include responsive(tablet-port) {max-width: 43rem;};
  }
}
