// fylo's logo styling
.logo {
  fill: var(--color-neutral);

  &:hover {
    fill: url(#gradient-call-to-action);
    & .logo__top {
      transform: translateY(-5px);
    }

    & .logo__bottom {
      transform: translateY(5px);
    }
  }

  &__top {
    transition: transform .9s;
  }

  &__bottom {
    transition: transform .3s;
  }
}
