// Change the color link to linear gradient color
.link__animation {
  &:link, &:visited {
    text-decoration: none;
    color: var(--color-neutral);
  }

  &--normal {
    &:hover, &:active {
      @include text-color-gradient();
    }
  }

  &--deep {
    &:hover .link__animation-text, &:active .link__animation-text {
      @include text-color-gradient();
    }
  }
  &:hover svg, &:active svg{
    fill: url(#gradient-call-to-action);
  }
}


// Animate the fylo's logo when the mouse hover the menu
nav {
  &:hover + div .logo {
    fill: url(#gradient-call-to-action);
  }

  &:hover + div .logo .logo__top {
    transform: translateY(-5px);
  }

  &:hover + div .logo__bottom {
    transform: translateY(5px);
  }
}

// Attribution's and signin link styling
.extra-link-animation {
  text-decoration: none;
  transition: color .5s;

  &:link,
  &:visited {
    .extra-link-animation__text {
      @include text-color-gradient();
    }

    .extra-link-animation__icon {
      fill: url(#gradient-call-to-action);
    }
  }

  &:hover,
  &:active {
    .extra-link-animation__text {
      color: var(--color-neutral);
    }
    .extra-link-animation__icon {
      fill: var(--color-neutral);
    }
    &::before {
      width: 0;
    }
  }
}

// Intro animation
.animated {
  &--moveInBottom {
    animation: moveInBottom .5s ease-out 2s;
    animation-fill-mode: backwards;
  }
  &--moveInTop {
    animation: moveInTop 1.5s ease-out 1s;
    animation-fill-mode: backwards;
  }
  &--moveInRight {
    animation: moveInRight 1s ease-out;
  }
  &--moveInLeft {
    animation: moveInLeft 1s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    opacity: .6;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }
  50% {
    opacity: .3;
  }
  70% {
    opacity: .5;
  }
  90% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
