// Change the color link to linear gradient color
.link__animation {
  &:link, &:visited {
    text-decoration: none;
    color: var(--color-neutral);
  }
  &:hover, &:active {
    @include text-color-gradient();
  }

  &:hover svg, &:active svg{
    fill: var(--gradient-svg);
  }
}

// Animate the fylo's logo when the mouse hover the menu
nav {
  &:hover + div .logo {
    fill: var(--gradient-svg);
  }

  &:hover + div .logo .logo__top {
    transform: translateY(-5px);
  }

  &:hover + div .logo__bottom {
    transform: translateY(5px);
  }
}

// Attribution's and signin link styling
%extra-link-animation {
  a {
    transition: color .5s;
    &:link,
    &:visited {
      @include text-color-gradient();
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: var(--color-neutral);
    }
  }
}
