// Change the color link to linear gradient color
.link__animation {
  &:link, &:visited {
    text-decoration: none;
    color: var(--color-neutral);
  }

  &--normal {
    &:hover, &:active {
      @include text-color-gradient();
    }
  }

  &--deep {
    &:hover .link__animation-text, &:active .link__animation-text {
      @include text-color-gradient();
    }
  }
  &:hover svg, &:active svg{
    fill: var(--gradient-svg);
  }
}


// Animate the fylo's logo when the mouse hover the menu
nav {
  &:hover + div .logo {
    fill: var(--gradient-svg);
  }

  &:hover + div .logo .logo__top {
    transform: translateY(-5px);
  }

  &:hover + div .logo__bottom {
    transform: translateY(5px);
  }
}

// Attribution's and signin link styling
.extra-link-animation {
  text-decoration: none;
  transition: color .5s;

  &:link .extra-link-animation-text,
  &:visited .extra-link-animation-text {
    @include text-color-gradient();
  }
  &:hover .extra-link-animation-text,
  &:active .extra-link-animation-text {
    color: var(--color-neutral);
  }
}
