
.container, .popup { --gradient: linear-gradient(to right, var(--color-accent-light), var(--color-accent-dark)); }


// -----------------------------------------------------------------
//                             dark
// -----------------------------------------------------------------

%var-dark {
  --color-accent-light: #{$color-accent-dark--light};
  --color-accent-dark: #{$color-accent-dark--dark};
  --color-primary-1: #{$color-primary-dark-blue-1};
  --color-primary-2: #{$color-primary-dark-blue-2};
  --color-primary-3: #{$color-primary-dark-blue-3};
  --color-primary-4: #{$color-primary-dark-blue-4};
  --color-neutral: #{$color-neutral-white};
  --color-input-border: transparent;
}

.dark:checked {
  & ~ .container {
    @extend %var-dark;

    --gradient-icons: url(#gradient-dark);
    --bg-img-mobile: url("#{background-image("curvy-mobile", "#{$color-primary-dark-blue-2}")}");

    --bg-img-desktop: url("#{background-image("curvy-desktop", "#{$color-primary-dark-blue-2}")}");

    --bg--quotes: url("#{background-image("quotes", "#{$color-accent-dark--light}")}");

  }

  & ~ .popup {
    @extend %var-dark;
    --color-form-out-bg: rgba(255, 255, 255, .2);
  }

}


// -----------------------------------------------------------------
//                              light
// -----------------------------------------------------------------
%var-light {
  --color-accent-light: #{$color-accent-light-light};
  --color-accent-dark: #{$color-accent-light-dark};
  --color-primary-1: #{$color-primary-light-white-1};
  --color-primary-2: #{$color-primary-light-white-2};
  --color-primary-3: #{$color-primary-light-white-3};
  --color-primary-4: #{$color-primary-light-white-4};
  --color-neutral: #{$color-neutral-black};
  --color-input-border: var(--color-accent-dark);
}


.light:checked {
  & ~ .container {
    @extend %var-light;

    --gradient-icons: url(#gradient-light);

    --bg-img-mobile: url("#{background-image("curvy-mobile", "#{$color-primary-light-white-2}")}");

    --bg-img-desktop: url("#{background-image("curvy-desktop", "#{$color-primary-light-white-2}")}");

    --bg--quotes: url("#{background-image("quotes", "#{$color-accent-light-light}")}");
  }

  & ~ .popup {
    @extend %var-light;

    --color-form-out-bg: rgba(0, 0, 0, .4);
  }

}
