// Change Icon color base on the selected theme
.accent-svg {
  &--fill {
    fill: var(--color-accent-light);
  }
  &--stroke {
    stroke: var(--color-accent-light);
  }
}

.neutral-svg {
  &--fill {
    fill: var(--color-neutral);
  }
  &--stroke {
    stroke: var(--color-neutral);
  }
}

.bg-svg {
  fill: var(--color-primary-2);
}


// bug-3 on iphone
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}
